.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--primary);
  border-bottom: 1px solid var(--grey-3);
  width: 100%;
}

.header .empty {
  opacity: 0;
}

.header h1 {
  font-weight: 700;
}

.header > button,
.header > a {
  font-size: 14px;
}

.header > button:hover,
.header > a:hover {
  color: var(--primary-3);
}

@media all and (max-width: 480px) {
  .header {
    padding: 10px 20px;
    margin-bottom: 20px;
  }

  .header h1 {
    font-size: 30px;
  }
}

@media all and (min-width: 480px) and (max-width: 1200px) {
  .header {
    padding: 15px 60px;
    margin-bottom: 30px;
  }

  .header h1 {
    font-size: 35px;
  }
}

@media all and (min-width: 1200px) {
  .header {
    padding: 20px 100px;
    margin-bottom: 40px;
  }

  .header h1 {
    font-size: 40px;
  }
}
