.button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--primary);
  color: var(--background);
  font-weight: 500;
  padding: 10px;
  border-radius: 10px;
}

.button:hover {
  background-color: var(--primary-3);
  transform: translateY(-2px);
}

.button:disabled {
  background-color: var(--primary-2);
}

.button.almost-full-width {
  width: 90%;
}

.button.full-width {
  width: 100%;
}

/* @media all and (max-width: 480px) {
  .button {
    height: 50px;
    font-size: 20px;
  }
}

@media all and (min-width: 480px) and (max-width: 1200px) {
  .button {
    height: 56px;
    font-size: 22px;
  }
}

@media all and (min-width: 1200px) {
  .button {
    height: 64px;
    font-size: 24px;
  }
} */
