.post-list {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 50px;
  display: grid;
  grid-template-columns: repeat(auto-fit, 230px);
  gap: 10px 16px;
  justify-content: center;
}

.post-list-item {
  width: 230px;
  padding: 10px;
}

.post-list-item:hover {
  transform: translateY(-5px);
}

.post-list-item:hover .title {
  text-decoration: underline;
}

.post-list-item > a {
  display: flex;
  flex-direction: column;
}

.post-list-item .title {
  font-size: 20px;
  font-weight: 500;
  color: var(--title-active);
}

.post-list-item .content {
  margin-top: 20px;
  margin-bottom: 10px;
  height: 48px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  color: var(--grey-1);
}

.post-list-item .flex {
  justify-content: space-around;
  font-size: 12px;
  color: var(--grey-2);
}

.image-ready {
  width: 100%;
  height: 140px;
}
