body {
  --primary: #2ac1bc;
  --primary-2: #a0e1e0;
  --primary-3: #219a95;
  --title-active: #222222;
  --grey-1: #888888;
  --grey-2: #bbbbbb;
  --grey-3: #d7d7d7;
  --off-white: #f6f6f6;
  --white: #ffffff;
  --red: #f45452;
  font-family: 'Noto Sans KR';
}

.icon {
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: contain;
}

.icon.add {
  background-image: url('../assets/icons/add.svg');
}

.icon.congratulations {
  background-image: url('../assets/icons/congratulations.gif');
}

.icon.image-ready {
  background-image: url('../assets/icons/image-ready.png');
}

.icon.delete {
  background-image: url('../assets/icons/delete.svg');
}

#root {
  min-height: 100vh;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content-wrapper {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  width: 100%;
}

@media all and (max-width: 480px) {
  .content-wrapper {
    padding: 0px 12px;
  }
}

@media all and (min-width: 1200px) {
  .content-wrapper {
    width: 1000px;
  }
}

main.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flex {
  display: flex;
}

.right {
  margin-left: auto;
}

.almost-full-width {
  width: 90%;
}
.full-width {
  width: 100%;
}

.blind {
  display: none;
}

/* noto-sans-kr-regular - korean */
@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 400;
  src: url('../assets/fonts/noto-sans/noto-sans-kr-v21-korean-regular.eot'); /* IE9 Compat Modes */
  src: url('../assets/fonts/noto-sans/noto-sans-kr-v21-korean-regular.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */ url('../assets/fonts/noto-sans/noto-sans-kr-v21-korean-regular.woff2') format('woff2'),
    /* Super Modern Browsers */ url('../assets/fonts/noto-sans/noto-sans-kr-v21-korean-regular.woff') format('woff'),
    /* Safari, Android, iOS */ url('../assets/fonts/noto-sans/noto-sans-kr-v21-korean-regular.otf') format('opentype'),
    /* Safari, Android, iOS */ url('../assets/fonts/noto-sans/noto-sans-kr-v21-korean-regular.svg#NotoSansKR')
      format('svg'); /* Legacy iOS */
}
/* noto-sans-kr-500 - korean */
@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 500;
  src: url('../assets/fonts/noto-sans/noto-sans-kr-v21-korean-500.eot'); /* IE9 Compat Modes */
  src: url('../assets/fonts/noto-sans/noto-sans-kr-v21-korean-500.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */ url('../assets/fonts/noto-sans/noto-sans-kr-v21-korean-500.woff2') format('woff2'),
    /* Super Modern Browsers */ url('../assets/fonts/noto-sans/noto-sans-kr-v21-korean-500.woff') format('woff'),
    /* Safari, Android, iOS */ url('../assets/fonts/noto-sans/noto-sans-kr-v21-korean-500.otf') format('opentype'),
    /* Safari, Android, iOS */ url('../assets/fonts/noto-sans/noto-sans-kr-v21-korean-500.svg#NotoSansKR') format('svg'); /* Legacy iOS */
}
/* noto-sans-kr-700 - korean */
@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 700;
  src: url('../assets/fonts/noto-sans/noto-sans-kr-v21-korean-700.eot'); /* IE9 Compat Modes */
  src: url('../assets/fonts/noto-sans/noto-sans-kr-v21-korean-700.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */ url('../assets/fonts/noto-sans/noto-sans-kr-v21-korean-700.woff2') format('woff2'),
    /* Super Modern Browsers */ url('../assets/fonts/noto-sans/noto-sans-kr-v21-korean-700.woff') format('woff'),
    /* Safari, Android, iOS */ url('../assets/fonts/noto-sans/noto-sans-kr-v21-korean-700.otf') format('opentype'),
    /* Safari, Android, iOS */ url('../assets/fonts/noto-sans/noto-sans-kr-v21-korean-700.svg#NotoSansKR') format('svg'); /* Legacy iOS */
}
